.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.carousel-picture {
    width: 90%;
}

.carousel-button {
    border: none;
    height: 100%;
    padding: 5rem 0.5rem;

    background-color: transparent;

    font-size: 1.5rem;
}
